{% load static %}



<header class="topbar" data-navbarbg="skin5">
    <nav class="navbar top-navbar navbar-expand-md navbar-dark">
        <div class="navbar-header" data-logobg="skin6">
            <a class="navbar-brand" href="{% url 'home' %}">
                <b class="logo-icon">
                    <img src="{% static 'plugins/images/logo.png' %}" alt="homepage"  height="70px"/>
                </b>
                <span class="logo-text">
                    <P style="color: green;">OB Multi-Services</P>
                </span>
            </a>
            
            <a class="nav-toggler waves-effect waves-light text-dark d-block d-md-none"
                href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
        </div>
        <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
            <ul class="navbar-nav ms-auto d-flex align-items-center">
                <li class=" in">
                    <form action="{% url 'recherche-matos' %}" role="search" class="app-search d-none d-md-block me-3">
                        <input type="text" placeholder="Recherche..." class="form-control mt-0" name="matos"  value="{{ query }}">
                        <a href="" class="active">
                            <i class="fa fa-search"></i>
                        </a>
                    </form>
                </li>
                <li>
                    {% if user.is_authenticated %} 
                    <a class="profile-pic" href="{% url 'deconnection' %}">
                        <img src="{% static 'plugins/images/users/varun.png' %}" alt="user-img" width="36"
                            class="img-circle"><span class="text-white font-medium"> {{user.username}} </span>
                        </a>
                        {% endif %} 
                </li>
            </ul>
        </div>
    </nav>
</header>
