
{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OBM- Retour des Matériels</title>
    <link rel="stylesheet" href="{% static 'bjp/css/css.css' %}">
    <link rel="stylesheet" href="{% static 'bjp/css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container-fluid px-1 py-5 mx-auto">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
                <h3>OBM- Retour des Matériels</h3> <div class="form-group col-sm-6">  </div>
                <p class="blue-text">Veuillez<br> Noter que tout les champs sont obligatoire</p>
                <div class="card">
                    <form class="form-card"  method="post">
                        {% csrf_token %}
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Nom du matériel<span class="text-danger"> *</span></label> {{form.nomProduits}} </div>
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Quantité<span class="text-danger"> *</span></label> {{form.quantite}} </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Categorie<span class="text-danger"> *</span></label> {{form.category}} </div>
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Nom de l'agent<span class="text-danger"> *</span></label> {{form.agentsAyantretour}} </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-12 flex-column d-flex"> <label class="form-control-label px-3">Etat du Matériel<span class="text-danger"> *</span></label> {{form.etat}} </div>
                        </div>
                        <hr>
                        <div class="row justify-content-end"  mt-1 style="margin-bottom: auto;"> 
                            <div class="form-group col-sm-6"> <button type="submit" class="btn btn-outline-primary">Enregistrer</button> </div>
                        </div>
                    </form>
                    <hr>
                    <div class="row justify-content-end" style="margin-bottom: auto;">
                        <div class="form-group col-sm-6"> <a href="{% url 'affiche-retour' %}"><button type="submit" class="btn btn-outline-primary">Retour</button></a> </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'bjp/js/js.js' %}"></script>
    <script src="{% static 'bjp/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bjp/js/bootstrap.bunbke.js' %}"></script>
</body>
</html>